
<div id="aboutView">
    <h2>Fresh Food Finder</h2>
    The <strong>Fresh Food Finder</strong> is the easiest way to locate farmers markets wherever you may be.  The Fresh Food Finder allows you to easily find farmers markets near your current location, or easily search for farmers markets within a state, city, or zipcode.
    <br/> <br/>
    All of the information displayed within the <strong>Fresh Food Finder</strong> is freely available from the <a href="javascript:openExternalURL('http://www.ams.usda.gov/AMSv1.0/farmersmarkets')">US Department of Agriculture</a> through <a href="javascript:openExternalURL('https://explore.data.gov/Agriculture/Farmers-Markets-Geographic-Data/wfna-38ey')">data.gov</a>.  This data set was last updated on April 25, 2012.  The Fresh Food Finder is not responsible for the quality or accuracy of this data. 
    <br/> <br/>
    Should you encounter any errors or discover inaccurate data, please <a href="javascript:openExternalURL('http://www.tricedesigns.com/fresh-food-finder/')">contact us and let us know so we can fix it</a>!
    
    <hr/><strong>Fresh Food Finder</strong> was created using the following free &amp; open source software:
    <ul>
        <li><a href="javascript:openExternalURL('http://www.phonegap.com')">PhoneGap</a></li>
        <li><a href="javascript:openExternalURL('http://www.jquery.com')">jQuery</a></li>
        <li><a href="javascript:openExternalURL('https://github.com/janl/mustache.js')">Mustache.js</a></li>
        <li><a href="javascript:openExternalURL('http://triceam.github.com/app-UI')">app-UI</a></li>
        <li><a href="javascript:openExternalURL('http://leaflet.cloudmade.com/')">Leaflet</a></li>
        <li><a href="javascript:openExternalURL('http://appicontemplate.com')">App Icon Template</a></li>
    </ul>
    Map imagery &copy; 2011 <a href="javascript:openExternalURL('http://openstreetmap.org/')">OpenStreetMap</a>
    
    <hr/><strong>Fresh Food Finder</strong> is an open source application intended to not only be useful, but to demonstrate how to build natively installed applications using web technologies.  You can learn more and download the source code from <a href="javascript:openExternalURL('http://www.tricedesigns.com/fresh-food-finder/')">http://www.tricedesigns.com/fresh-food-finder/</a>.
    
    <hr/>THIS SOFTWARE IS PROVIDED BY ANDREW M. TRICE ''AS IS'' AND ANY EXPRESS OR IMPLIED
    WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
    FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL ANDREW M. TRICE OR
    CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
    CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
    SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
    ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
    NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
    ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    
    <hr/>All graphics used within this application obtained through <a href="javascript:openExternalURL('http://thenounproject.com/')">thenounproject.com</a>.  "Map Marker" symbol by P.J. Onori.  "Paint" symbol by Okan Benn. "Cherries" by Christian Michael Witternigg. "Leaf" by Fellipe Silva. "Jar" by Connor Cesa. "Information" by Sven Hofmann. "Chicken", "Hazelnuts",  by Kate Vogel. "Acorn" by Proletkult Graphik. "Plant" by Umbra7 Design.  "Soap" by Proletkult Graphik.  
    "Sansation" font available through <a href="javascript:openExternalURL('http://www.fontsquirrel.com/fonts/Sansation')">fontsquirrel.com</a>.  
</div>