
<div id="defaultView">
    <h2>Fresh Food Finder</h2>
    <div><a id="nearMe" href="#">Find Markets Near Me</a></div>
    <div><a id="search" href="#">Search For a Market</a></div>
    <div><a id="about" href="#">About This App</a></div>
    <div id="preload" style="display:none">
        <div id="bakedgoods" class="amenities">Baked Goods</div>
        <div id="cheese" class="amenities">Cheese</div>
        <div id="arts" class="amenities">Arts &amp; Crafts</div>
        <div id="flowers" class="amenities">Flowers</div>
        <div id="seafood" class="amenities">Seafood</div>
        <div id="fruit" class="amenities">Fruit</div>
        <div id="herbs" class="amenities">Herbs</div>
        <div id="vegetables" class="amenities">Vegetables</div>
        <div id="honey" class="amenities">Honey</div>
        <div id="jams" class="amenities">Jams</div>
        <div id="maple" class="amenities">Maple</div>
        <div id="nuts" class="amenities">Nuts</div>
        <div id="meat" class="amenities">Meats</div>
        <div id="plants" class="amenities">Plants</div>
        <div id="prepared" class="amenities">Prepared Foods</div>
        <div id="soap" class="amenities">Soap</div>
    </div>
</div>
