
<div id="searchView" >
    
    <div class="paragraph_noborder">
        <strong>State:</strong><br/>
        <select id="search_state" ></select>
    </div>
    
    <div class="paragraph">
        <strong>Search Phrase:</strong><br/>
        <input type="text" id="search_searchPhrase" prompt="Search Phrase" />
        <div class="subtext">You may enter a city name, zip code, county name, or market name in the search phrase field.</div>
        
        <div class="paragraph_noborder"><a class="button" id="searchButton" href="#">Search</a></div>
        
        <div class="paragraph">
            <strong>Filter By Product:</strong><br/><br/>
            <div class="searchfilter"><input type="checkbox" id="search_bakedGoods" /><label for="search_bakedGoods" id="bakedgoods" class="amenities">Baked Goods</label></div>
            <div class="searchfilter"><input type="checkbox" id="search_cheese" /><label for="search_cheese" id="cheese" class="amenities">Cheese</label></div>
            <div class="searchfilter"><input type="checkbox" id="search_crafts" /><label for="search_crafts" id="arts" class="amenities">Arts &amp; Crafts</label></div>
            <div class="searchfilter"><input type="checkbox" id="search_flowers" /><label for="search_flowers" id="flowers" class="amenities">Flowers</label></div>
            <div class="searchfilter"><input type="checkbox" id="search_seafood" /><label for="search_seafood" id="seafood" class="amenities">Seafood</label></div>
            <div class="searchfilter"><input type="checkbox" id="search_fruit" /><label for="search_fruit" id="fruit" class="amenities">Fruits</label></div>
            <div class="searchfilter"><input type="checkbox" id="search_herbs" /><label for="search_herbs" id="herbs" class="amenities">Herbs</label></div>
            <div class="searchfilter"><input type="checkbox" id="search_vegetables" /><label for="search_vegetables" id="vegetables" class="amenities">Vegetables</label></div>
            <div class="searchfilter"><input type="checkbox" id="search_honey" /><label for="search_honey" id="honey" class="amenities">Honey</label></div>
            <div class="searchfilter"><input type="checkbox" id="search_jams" /><label for="search_jams" id="jams" class="amenities">Jams</label></div>
            <div class="searchfilter"><input type="checkbox" id="search_maple" /><label for="search_maple" id="maple" class="amenities">Maple</label></div>
            <div class="searchfilter"><input type="checkbox" id="search_meat" /><label for="search_meat" id="meat" class="amenities">Meat</label></div>
            <div class="searchfilter"><input type="checkbox" id="search_nuts" /><label for="search_nuts" id="nuts" class="amenities">Nuts</label></div>
            <div class="searchfilter"><input type="checkbox" id="search_plants" /><label for="search_plants" id="plants" class="amenities">Plants</label></div>
            <div class="searchfilter"><input type="checkbox" id="search_soap" /><label for="search_soap" id="soap" class="amenities">Soap</label></div>
            <br/><br/>
            
            <strong>Filter By Payment:</strong><br/><br/>
            
            <div class="searchfilter"><input type="checkbox" id="search_credit" /><label id="credit_cards" class="amenities"for="search_credit">Credit Cards Accepted</label></div>
            <div class="searchfilter"><input type="checkbox" id="search_wic" /><label for="search_wic" id="wic_accepted" class="amenities">WIC Accepted</label></div>
            <div class="searchfilter"><input type="checkbox" id="search_wiccash" /><label for="search_wiccash" id="wic_accepted" class="amenities">WIC Cash Accepted</label></div>
            <div class="searchfilter"><input type="checkbox" id="search_sfmnp" /><label for="search_sfmnp" id="senior" class="amenities">SFMNP Accepted</label></div>
            <div class="searchfilter"><input type="checkbox" id="search_snap" /><label for="search_snap" id="snap" class="amenities">SNAP Accepted</label></div>
            
            <br/><br/>
            <a class="button" id="searchButton" href="#">Search</a>
            
        </div>
    </div>
</div>